.interface {
  position: absolute;
  padding: 20px;
  border: 10px;
}
.interface input {
  padding: 10px;
  width: 54px;
  font-size: 20px;
}
body {
  background-size: cover;
  margin: 0px;
  overflow: hidden;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  text-align: center;
}
a {
  color: #0078ff;
}
#info {
  color: #fff;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  z-index: 100;
}
