doctype html
html(lang="en")
  head
    script(src='./assets/d3.js')
    title="Stubeeee"
    link(rel='stylesheet', href='/assets/styles.css')
    script(src='/assets/detector.js')
    script(src='/assets/three.js')
    script(src='/assets/init.js')
  body
    audio(autoplay='true',src='/assets/navi.ogg')
    
