doctype html
html(lang="en")
  head
    script(src='./assets/d3.js')
    title="title"
    link(rel='stylesheet', href='./assets/styles.css')
    h1 Serpent Ski
  body
    p This is the body
    script(src='./assets/scripts.js')
  footer
    p This is the footer
